<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">

  <Properties>
    <!--logging.file.path已包含了project.name-->
    <Property name="base.path">${sys:logging.file.path}</Property>
    <Property name="project.name">${sys:project.name}</Property>

    <!--prefix-->
    <Property name="primary.file.prefix">${base.path}/${project.name}</Property>
    <Property name="warn.file.prefix">${base.path}/${project.name}-warn</Property>
    <Property name="error.file.prefix">${base.path}/${project.name}-error</Property>

    <!--file-->
    <Property name="primary.file.name">${primary.file.prefix}.log</Property>
    <Property name="warn.file.name">${warn.file.prefix}.log</Property>
    <Property name="error.file.name">${error.file.prefix}.log</Property>
    <!--rolling file-->
    <Property name="primary.rolling.file.name">${primary.file.prefix}-%d{yyyy-MM-dd-HH}-%i.log.gz</Property>
    <Property name="warn.rolling.file.name">{warn.file.prefix}-%d{yyyy-MM-dd}-%i.log.gz</Property>
    <Property name="error.rolling.file.name">${error.file.prefix}-%d{yyyy-MM-dd}-%i.log.gz</Property>

    <!--layout-->
    <Property name="layout">%d %level %X{traceId} [%t] %c{10}:%M:%L %m%n</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${layout}"/>
    </Console>

    <RollingRandomAccessFile name="primaryLogFile"
      immediateFlush="true" fileName="${primary.file.name}"
      filePattern="${primary.rolling.file.name}">
      <PatternLayout pattern="${layout}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB" />
        <TimeBasedTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${base.path}" maxDepth="1">
          <IfFileName glob="${project.name}-*.log.gz" />
          <IfLastModified age="2d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingRandomAccessFile>

    <RollingRandomAccessFile name="warnLogFile"
      immediateFlush="true" fileName="${warn.file.name}"
      filePattern="{warn.rolling.file.name}">
      <PatternLayout pattern="${layout}"/>
      <ThresholdFilter level="warn"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB" />
        <TimeBasedTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${base.path}" maxDepth="1">
          <IfFileName glob="${project.name}-warn-*.log.gz" />
          <IfLastModified age="2d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingRandomAccessFile>

    <RollingRandomAccessFile name="errorLogFile"
      immediateFlush="true" fileName="${error.file.name}"
      filePattern="${error.rolling.file.name}">
      <PatternLayout pattern="${layout}"/>
      <ThresholdFilter level="error"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB" />
        <TimeBasedTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${base.path}" maxDepth="1">
          <IfFileName glob="${project.name}-error-*.log.gz" />
          <IfLastModified age="2d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console" level="${sys:logging.console.level:-off}"/>
      <AppenderRef ref="primaryLogFile"/>
      <AppenderRef ref="warnLogFile"/>
      <AppenderRef ref="errorLogFile"/>
    </Root>
  </Loggers>
</Configuration>